.good {
	width: 900px;
	background-color: #7bdce8;
	margin: 0 auto;
	height: 500px;
	padding-top: 30px
}
.good-l {
	width: 450px;
	padding-left: 30px
}
.good-l h3 {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #155b83;
    font-family: "VAGRounded BT";
}
.good-l h5 {
	font-size: 20px;
	color: #555;
	line-height: 40px;
}
.good-l p {
	text-indent: 2em;
	line-height: 30px;
	font-size: 14px;
	color: #666;
}
.good-r {
	margin-left: 20px;
	width: 400px;
}
.good-r img {
	margin-top: 10px;
	width: 380px;

}
.type {
	width: 900px;
	height: 2820px;
	padding: 30px 30px;
	margin: 30px auto;
	background-color: #f4f4f4;
}
.ty {
	height: 400px;
}
.type .title {
	text-align: center;
	font-size: 24px;
	margin: 20px auto;
	font-weight: 700;
	color:  #155b83;
}
.l {
	width: 350px;
	margin-left: 30px;
}
.l img {
	width: 350px;
	height: 350px;
	border-radius: 50%;
}
.r {
	width: 400px;
	height: 350px;
	padding-left: 100px;
	border-bottom: 2px solid #7bdce8;
}
.r h5 {
	font-weight: 700;
	margin-top: 50px;
	font-size: 20px;
	color: #555;
	line-height: 40px;
}
.r p {
	font-size: 18px;
	line-height: 40px;
	text-indent: 2em;
	width: 300px;
}
.fla {
	height: 500px;
}





